.f-events {
  width: 100%;
  height: 90vh; /*Come back to look at this , maybe change it to cover */
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Nunito", sans-serif;
  padding-bottom: 10%;
}

.f-events h1 {
  color: whitesmoke;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}
