.footer {
  width: 100%;
  height: fit-content;
  background-color: #121619;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  margin-bottom: 0;
}

.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
}

.footer p {
  color: rgb(214, 195, 195);
  font-family: "Nunito", sans-serif;
}
